html,
body {
    margin: 0;
    padding: 0;

    background-color: var(--background-color);

    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
}

a {
    text-decoration: none;

    color: inherit;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}

:root {
    --size-header: 64px;
    --size-footer: 48px;
    --background-color: white;
    font-family: "Noto Sans", sans-serif;
}
